body {
  background: #A6A6A6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  letter-spacing: 25px;
  font-size: 200px;
  font-family: "Lobster Two", sans-serif;
  margin-top: 0;
  color: #F2F2F2;
}

h2 {
  letter-spacing: 22px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  margin-bottom: 0;
  color: #F2F2F2;
}

p {
  font-family: "Lobster Two", sans-serif;
  font-size: 24px;
  color: #F2F2F2;
  padding: 5px;
  width: 80%;
}

h3 {
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  letter-spacing: 7px;
  color: #F2F2F2;
}

.button {
  background: #73534C;
  color: #F2F2F2;
  border: none;
  border-radius: 10px;
  width: 350px;
  padding: 15px;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 23px;
}

.button:hover {
  background: #402722;
  color: #8C8C8C;
}

img {
  margin-bottom: 30px;
  width: 700px;
  height: 500px;
  border-radius: 30px;
}

@media (max-width:800px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 37px;
  }

  .image {
    margin-bottom: 30px;
    width: 600px;
    height: 400px;
    border-radius: 30px;
  }

  .btn {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 26px;
  }

  h3 {
    font-size: 33px;
  }
}

@media (max-width:500px) {
  h1 {
    font-size: 65px;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 25px;
    letter-spacing: 15px;
  }

  .image {
    margin-bottom: 30px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
  }

  p {
    width: 95%;
    padding: 0px;
  }

  h3 {
    font-size: 30px;
    padding: 0px;
  }
}